xml-resources/web-service-references/WebService/wsdl/localhost_8080/ContoCointestato-war/WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.conto/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.conto/" name="WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.conto/" schemaLocation="http://localhost:8080/ContoCointestato-war/WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="read">
<part name="parameters" element="tns:read"/>
</message>
<message name="readResponse">
<part name="parameters" element="tns:readResponse"/>
</message>
<message name="deposit">
<part name="parameters" element="tns:deposit"/>
</message>
<message name="withdraw">
<part name="parameters" element="tns:withdraw"/>
</message>
<message name="getWriteResult">
<part name="parameters" element="tns:getWriteResult"/>
</message>
<message name="getWriteResultResponse">
<part name="parameters" element="tns:getWriteResultResponse"/>
</message>
<message name="getReadResults">
<part name="parameters" element="tns:getReadResults"/>
</message>
<message name="getReadResultsResponse">
<part name="parameters" element="tns:getReadResultsResponse"/>
</message>
<portType name="WebServices">
<operation name="read">
<input wsam:Action="http://webservice.conto/WebServices/readRequest" message="tns:read"/>
<output wsam:Action="http://webservice.conto/WebServices/readResponse" message="tns:readResponse"/>
</operation>
<operation name="deposit">
<input wsam:Action="http://webservice.conto/WebServices/deposit" message="tns:deposit"/>
</operation>
<operation name="withdraw">
<input wsam:Action="http://webservice.conto/WebServices/withdraw" message="tns:withdraw"/>
</operation>
<operation name="getWriteResult">
<input wsam:Action="http://webservice.conto/WebServices/getWriteResultRequest" message="tns:getWriteResult"/>
<output wsam:Action="http://webservice.conto/WebServices/getWriteResultResponse" message="tns:getWriteResultResponse"/>
</operation>
<operation name="getReadResults">
<input wsam:Action="http://webservice.conto/WebServices/getReadResultsRequest" message="tns:getReadResults"/>
<output wsam:Action="http://webservice.conto/WebServices/getReadResultsResponse" message="tns:getReadResultsResponse"/>
</operation>
</portType>
<binding name="WebServicesPortBinding" type="tns:WebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="read">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deposit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="withdraw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getWriteResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReadResults">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebService">
<port name="WebServicesPort" binding="tns:WebServicesPortBinding">
<soap:address location="http://localhost:8080/ContoCointestato-war/WebService"/>
</port>
</service>
</definitions>