xml-resources/web-service-references/WebService2/wsdl/localhost_8080/ContoCointestato-war/WebService2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.conto/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.conto/" name="WebService2">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.conto/" schemaLocation="http://localhost:8080/ContoCointestato-war/WebService2?xsd=1"/>
</xsd:schema>
</types>
<message name="read">
<part name="parameters" element="tns:read"/>
</message>
<message name="deposit">
<part name="parameters" element="tns:deposit"/>
</message>
<message name="withdraw">
<part name="parameters" element="tns:withdraw"/>
</message>
<message name="getReadResult">
<part name="parameters" element="tns:getReadResult"/>
</message>
<message name="getReadResultResponse">
<part name="parameters" element="tns:getReadResultResponse"/>
</message>
<message name="getWriteResult">
<part name="parameters" element="tns:getWriteResult"/>
</message>
<message name="getWriteResultResponse">
<part name="parameters" element="tns:getWriteResultResponse"/>
</message>
<portType name="WebService2">
<operation name="read">
<input wsam:Action="http://webservice.conto/WebService2/read" message="tns:read"/>
</operation>
<operation name="deposit">
<input wsam:Action="http://webservice.conto/WebService2/deposit" message="tns:deposit"/>
</operation>
<operation name="withdraw">
<input wsam:Action="http://webservice.conto/WebService2/withdraw" message="tns:withdraw"/>
</operation>
<operation name="getReadResult">
<input wsam:Action="http://webservice.conto/WebService2/getReadResultRequest" message="tns:getReadResult"/>
<output wsam:Action="http://webservice.conto/WebService2/getReadResultResponse" message="tns:getReadResultResponse"/>
</operation>
<operation name="getWriteResult">
<input wsam:Action="http://webservice.conto/WebService2/getWriteResultRequest" message="tns:getWriteResult"/>
<output wsam:Action="http://webservice.conto/WebService2/getWriteResultResponse" message="tns:getWriteResultResponse"/>
</operation>
</portType>
<binding name="WebService2PortBinding" type="tns:WebService2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="read">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deposit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="withdraw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getReadResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWriteResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebService2">
<port name="WebService2Port" binding="tns:WebService2PortBinding">
<soap:address location="http://localhost:8080/ContoCointestato-war/WebService2"/>
</port>
</service>
</definitions>